<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeerSleuth: Beer Recommender</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/js/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <!--<script src="../static/js/contact_me.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/freelancer.js"></script>

    <!-- search menu -->
    <script src='../static/js/angular.min.js'></script>
    <script src='../static/js/ui-bootstrap-tpls-0.12.0.js'></script>
    <script src="../static/js/index.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">BEER SLEUTH</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#rate">RATE</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#predict">GET RECOMMENDATIONS</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">ABOUT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">BEER SLEUTH</span>
                        <span class="skills">FIND THE RIGHT BREW FOR YOU</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<div ng-app="angularTypeahead">
    <!-- Rate Section -->
    <section id="rate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Rate</h2>
                    <hr class="star-primary">
                    <span class="skills">RATE 3 OR MORE BEERS THEN TRAIN THE MODEL</span>
                </div>
                <form action="." method = "POST" >
                        <div class="col-xs-4">
                            <input type="text" class="form-control" placeholder="Choose a user name" name = "usern" id = "usern">
                            <br>
                            <br>
                        </div>
                        <br>

                           <div class="container-fluid" ng-controller="TypeaheadCtrl">
                                <input name="beer1" id="beer1" type="text" placeholder="Beer to Rate" ng-model="selected" typeahead="beer for beer in beers | filter:$viewValue | limitTo:15" autocomplete="off" class="form-control" >
                           </div>
                           <br>
                            <div class="col-xs-4">
                               <input name = "br1" id ="br1" type="text" class="form-control" autocomplete="off" placeholder="Beer 1 Rating" >
                                <br>
                            </div>

                            <div class="container-fluid" ng-controller="TypeaheadCtrl">
                                <input name="beer2" id="beer2" type="text" placeholder="Beer to Rate" ng-model="selected" typeahead="beer for beer in beers | filter:$viewValue | limitTo:15" autocomplete="off"  class="form-control" >
                                <br>
                            </div>

                            <div class="col-xs-4">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Beer 2 Rating" name = "br2" id = "br2">
                                <br>
                            </div>

                            <div class="container-fluid" ng-controller="TypeaheadCtrl">
                               <input name="beer3" id="beer3" type="text" placeholder="Beer to Rate" ng-model="selected" typeahead="beer for beer in beers | filter:$viewValue | limitTo:15" autocomplete="off" class="form-control" >

                            </div>
                            <br>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" autocomplete="off" placeholder="Beer 3 Rating" name = "br3" id = "br3">
                                     <br>
                                <div class="row">
                                      <button type="submit" class="btn btn-primary" value="Add" name="add_rating" id="add_rating" >Add Ratings</button>
                                      <button type="submit" class="btn btn-primary" id="view20" >View Your Ratings</button>
                                 <br>
                                 <br>
                                <p id="result" name ="result"></p>

                            </div>
                </form>
                <div class="col-lg-12 text-center">
                  <div id="user_ratings"></div>
                </div>
                <br>

                <script type=text/javascript>
                  $(function() {
                    $('button#view20').bind('click', function() {
                      $.getJSON('/get_ratings', {
                        usern: $('input[name="usern"]').val(),
                        key:'abcd'
                      }, function(data) {
                        $("#user_ratings").html(data.result);
                      });
                      return false;
                    });
                  });
                </script>

                <script type=text/javascript>
                  $(function() {
                    $('button#add_rating').bind('click', function() {
                      $.getJSON('/ratings_form_data', {
                        usern: $('input[name="usern"]').val(),
                        beer1: $('input[name="beer1"]').val(),
                        br1: $('input[name="br1"]').val(),
                        beer2: $('input[name="beer2"]').val(),
                        br2: $('input[name="br2"]').val(),
                        beer3: $('input[name="beer3"]').val(),
                        br3: $('input[name="br3"]').val(),
                        key:'abcd'
                      }, function(data) {
                        $("#result").text(data.result);
                      });
                      return false;
                    });
                  });
                </script>


            </div>

        </div>
                <div class="container">
                <br>
                <div class="col-lg-12 text-center">
                    <h2>TRAIN THE MODEL</h2>
                    <hr class="star-primary">
                    <span class="skills">ONLY NECESSARY FOR FIRST TIME USERS OR IF NEW RATINGS ARE ADDED</span>
                    <br>
                    <br>
                    <form action="." method = "POST">
                        <button type="submit" class="btn btn-primary" value="Train" id="beer_button">Train</button>
                    </form>

                    <script>
                    $(document).ready(function(){
                              $("#status_label").hide();
                          });
                    </script>

                    <p id="status_label"></p>
                      <script>
                      $(function() {
                        $('button#beer_button').bind('click', function() {
                          $("#status_label").text("Teaching computers to like beer, this could take up to 30 seconds to complete, this status will change when done");
                          $("#status_label").show();
                          $.getJSON('fitting', {
                            key:'abcd'
                          }, function(data) {
                            $("#status_label").text(data.result);
                          });
                          return false;
                        });
                      });
                    </script>


                </div>
        </section>

    <!-- Predict Section -->
    <section class="success" id="predict">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Recommendations</h2>
                    <hr class="star-light">
                      <span class="skills">AFTER RATING AND TRAINING, TIME TO PREDICT</span>
                      <br>
                </div>
                <form action="." method = "POST" >
                    <div class="col-xs-4">
                        <input type="text" class="form-control" placeholder="Choose a user name" name = "user_n2" id="user_n2">
                        <br>
                        <br>
                    </div>

                    <div class="container-fluid" ng-controller="TypeaheadCtrl">
                        <input name="beer_p" id="beer_p" type="text" placeholder="Beer to Predict" ng-model="selected" typeahead="beer for beer in beers | filter:$viewValue | limitTo:15" autocomplete="off" class="form-control" >
                        <br>
                    </div>
                    <div class = "col-xs-4">
                        <br>
                         <button name="get_pred" id="get_pred" type="submit" class="btn btn-primary2" value="Pred">Get Predicted Rating</button>
                          <br>
                    </div>
                </form>
                <br>

                <script type=text/javascript>
                  $(function() {
                    $('button#get_pred').bind('click', function() {
                      $.getJSON('/prediction', {
                        user_p: $('input[name="user_n2"]').val(),
                        beer_p: $('input[name="beer_p"]').val(),
                        key:'abcd'
                      }, function(data) {
                        $("#prediction_val").text(data.result);
                      });
                      return false;
                    });
                  });
                </script>
            </div>
                <h3 name="prediction_val" id="prediction_val"></h3>
        </div>

    </section>

    <!-- Contact Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p> Beer Sleuth is a recommendation engine which can predict how you would
                rate the taste of beer based on ratings you have given other beers.  It works using a method called collaboritive
                filtering to train the model and generate predictions. Specifically the recommender is based on non-negative matrix factorization, solved with
                alternating least squares. I used Apache Spark to build the model and the project is being hosted on Amazon Web Services.
                The training data for the model was scraped from ratebeer.com which
                has millions of reviews of differnt beers and a lot of really great information about the beers such as style, brewery or alcohol
                by volume. I scraped over 1.8 million reviews from the site and should have every ratings for over 60,000 beers. I should have every beer from every brewery
                CA, WA, OR, CO, MA, GA, AL anf FL. The root mean squared error of the test data is about 1.08, put simply,
                on a scale of 1-10 Beer Sleuth is about 1 away from how you would rate the taste of the beer on average.
                </p>
                <p>Beer Sleuth was created as my capstone project for the Galvanize data data science immersive program, which I would highly reccomend
                  for anyone trying to transition into a career in data science. I hope all of you find this project work helpful or at least amusing.
                </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-14">
                        <h3>About Me</h3>
                        <p> I am physicist turned data scientist living in the Seattle area <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

</body>

</html>
